<!-- <div class="container"> -->
    <div class="row mt-1 ml-3 mr-3">
        <div class="col-sm-7 mt-3">
            <div id="abc" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/1a.jpg"   class="img-fluid" alt="Aggrigated by Naac">
                        <div class="carousel-caption">
                          Accredited by NAAC with 'A' grade
                        </div>
                    </div>
                    <div class="carousel-item">
                            <img src="assets/2a.jpg"   class="img-fluid" alt="placements 2017-2018">
                            <div class="carousel-caption">
                                    placements 2017-2018
                            </div>
                        </div>
           
            <div class="carousel-item">
                    <img src="assets/3a.jpg"    class="img-fluid" alt="placements">
                    <div class="carousel-caption">
                            Packages
                    </div>
                </div>
                <div class="carousel-item">
                        <img src="assets/4a.jpg"   class="img-fluid" alt="campus placements">
                        <div class="carousel-caption">
                            Campus Training
                        </div>
                    </div>
                    
        </div>  
        
        <a class="carousel-control-prev"
                    href="#abc"
                    data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                </a>
        
                <a class="carousel-control-next"
                    href="#abc"
                    data-slide="next">
                <span class="carousel-control-next-icon"></span>
                </a>
        
                <ul class="carousel-indicators">
                    <li data-target="#abc" data-slide-to="o"
                    class="active"></li>
                    <li data-target="#abc" data-slide-to="1"></li>
                    <li data-target="#abc" data-slide-to="2"
                    class="active"></li>
                    <li data-target="#abc" data-slide-to="3"
                    class="active"></li>
                    
                </ul>
        
            </div>
        </div>
      
        
        <div class="col-sm-5 mt-3 bg-dark text-light">
            <h1 class="text-center">latest updates</h1>
            <marquee class="bg-danger" onmouseover="this.stop();" onmouseout="this.start();">
                jntuk 1-1 sem november results released.
            </marquee>
            <marquee class="bg-warning" onmouseover="this.stop();" onmouseout="this.start();">
                    Pongal holidays are from 13-01-2019 to 17-01-2019.
                </marquee>
                <marquee class="bg-info" onmouseover="this.stop();" onmouseout="this.start();">
                        145+ students are placed during the academic year 2018
                    </marquee>
                    <marquee class="bg-success" onmouseover="this.stop();" onmouseout="this.start();">
                            1st mid exams for 2-1, 3-1, 4-1 are from 05-02-2019.
                        </marquee>
        </div>
        </div>
        
      
        <div class="row mx-auto d-block">
                
                <div class="col-sm-12 text-center">
                  <h1>Courses Offered</h1>
                  <img src="assets/cap.png" widyh="50px" height="50px">
                  <div class="card-deck">
                      <div class="card">
                          <div class="card-header bg-info text-white">Mechanical</div>
                          <div class="card-body">
                              <img src="assets/mech.jpg" width="100px" height="100px">
                              <div class="card-footer">
                                  no of seats : 240 <br>
                                  no of labs : 03
                              </div>
                          </div>
                      </div>
      
                      <div class="card">
                            <div class="card-header bg-info text-white">Computers</div>
                            <div class="card-body">
                                <img src="assets/cse.png" width="100px" height="100px">
                                <div class="card-footer">
                                    no of seats : 180 <br>
                                    no of labs : 05
                                </div>
                            </div>
                        </div>
      
                        <div class="card">
                                <div class="card-header bg-info text-white">Electrical</div>
                                <div class="card-body">
                                    <img src="assets/eee.jpg" width="100px" height="100px">
                                    <div class="card-footer">
                                        no of seats : 120 <br>
                                        no of labs : 04
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                    <div class="card-header bg-info text-white">Civil</div>
                                    <div class="card-body">
                                        <img src="assets/civil.jpg" width="100px" height="100px">
                                        <div class="card-footer">
                                            no of seats : 60 <br>
                                            no of labs : 02
                                        </div>
                                    </div>
                                </div>
      
                                <div class="card">
                                        <div class="card-header bg-info text-white">Electronics</div>
                                        <div class="card-body">
                                            <img src="assets/ece.jpg" width="100px" height="100px">
                                            <div class="card-footer">
                                                no of seats : 120 <br>
                                                no of labs : 04
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     </div>
                </div>
      
                <div class="row mt-3 ml-2 mr-2">
                <div class="col-md-6 col-sm-6">
                        <div class="single-event-item">
      <div class="single-event-text">
            <h2 class="text-center">2017 placements</h2>
      <marquee direction="up" height="120px" scrollamount="4" onmouseover="this.stop();" onmouseout="this.start();" style="height: 155px;">
      <table  class="table table-striped">
      <tbody>
        <tr>
            <td> 1 </td>
            <td> MADI REDDY UDAY KUMAR </td>
            <td> CIVIL </td>
        </tr>
        <tr>
            <td> 2 </td>
            <td> PATNAIK HARSHITHA  </td>
            <td> CSE </td>
        </tr>
        <tr>
            <td> 3 </td>
            <td> GURRAM SRI SWETHA  </td>
            <td> CSE </td>
        </tr>
        <tr>
            <td> 4 </td>
            <td> BODDETI PRIYANKA  </td>
            <td> CSE </td>
        </tr>
        <tr>
            <td> 5 </td>
            <td> KATNAM SATEESH  </td>
            <td> CSE </td>
        </tr>
        <tr>
            <td> 6 </td>
            <td> NISTALA V L PRASANTHI </td>
            <td> CSE </td>
        </tr>
        <tr>
            <td> 7 </td>
            <td> NEELAMSETTI KIRAN KUMARI  </td>
            <td> CSE </td>
        </tr>
        <tr>
            <td> 8 </td>
            <td> P SAI MANI  </td>
            <td> CSE </td>
        </tr>
        <tr>
            <td> 9 </td>
            <td> SURISETTY KRISHNA VENI  </td>
            <td> CSE </td>
        </tr>
        <tr>
            <td> 10 </td>
            <td> UDDANDARAO MANASA  </td>
            <td> ECE </td>
        </tr>
        
        
        </tbody>
        </table>                                            </marquee>
        </div>
        </div>
        <br>
        </div>
      
        <div class="col-md-6 col-sm-6">
                <div class="single-event-item">
      <div class="single-event-text">
      <h2 class="text-center">2018 placements</h2>
      <marquee direction="up" height="120px" scrollamount="4" onmouseover="this.stop();" onmouseout="this.start();" style="height: 155px;">
      <table  class="table table-striped">
      <tbody>
      <tr>
      <td> 1 </td>
      <td> PATNALA RAJESH KUMAR REDDY </td>
      <td> ECE </td>
      </tr>
      <tr>
      <td> 2 </td>
      <td> VADLAMANI KAMESH SRIKAR </td>
      <td> ECE </td>
      </tr>
      <tr>
      <td> 3 </td>
      <td> Venkatesh Kocherlakota </td>
      <td> ECE </td>
      </tr>
      <tr>
      <td> 4 </td>
      <td> SIRASAPALLI RAJESH </td>
      <td> EEE </td>
      </tr>
      <tr>
      <td> 5 </td>
      <td> NADIMPALLI SUJATHA </td>
      <td> EEE </td>
      </tr>
      <tr>
      <td> 6 </td>
      <td> KONDETI MANOJ KUMAR </td>
      <td> EEE </td>
      </tr>
      <tr>
      <td> 7 </td>
      <td> MUYIDI SAI MOUNIKA  </td>
      <td> EEE </td>
      </tr>
      <tr>
      <td> 8 </td>
      <td> Chimbothu Pavankumar  </td>
      <td> Mech </td>
      </tr>
      <tr>
      <td> 9 </td>
      <td> Khandavilly Vinay </td>
      <td> Mech </td>
      </tr>
      <tr>
      <td> 10 </td>
      <td> Yakala Uday Kumar </td>
      <td> Mech </td>
      </tr>
      <tr>
        </tbody>
        </table>                                            </marquee>
        </div>
        </div>
        <br>
        </div>
      </div>
      
            
      
              <div class="footer bg-dark mt-5">
                    <div class="container text-light">
                       <div class="row">
                           <div class="col-sm-6 mt-3">
                                <p> 
                                       <b> Address </b> <br>
                                        second campus Institute <br>
                                        subhodaya colony <br>
                                        kukatpally <br>
                                        Hyderabad <br>
                                        500072
                                    
                                </p>
                           </div>
                           <div class="col-sm-6 mt-3">
                                <p align="right">
                                       <b> Contact Us </b> <br>
                                        Mahesh Varma <br>
                                        +918333936366 <br>
                                        08931-222364 <br>
                                        mahesh8.nadimpalli@gmail.com 
                                </p>
                           </div>
                       </div>
                       
                    </div>
                  </div>
              
<!-- </div> -->