<div class="container mt-3">
    
        <input type="text" name="searchingTerm" placeholder="Search here.." [(ngModel)]="searchingTerm">
        
    <button type="button" data-toggle="modal" data-target="#y" class="btn btn-info mx-auto d-block mt-2 mb-3">Add Results</button>
    <!-- <div class="jumbotron"> -->
        <table class="table table-hover table-secondary">
            <thead class="thead-dark">
              <th>Name</th>
              <th>English</th>
              <th>Physics</th>
              <th>Chemistry</th>
              <th>Engg drawing</th>
              <th>Maths</th>
            </thead>
            <tr *ngFor="let i of (arr | searchresults:searchingTerm | paginate:{itemsPerPage:6,currentPage:p}); let x=index">
              <td>{{i.sname}}</td>
              <td>{{i.english}}</td>
              <td>{{i.physics}}</td> 
              <td>{{i.chemistry}}</td>
              <td>{{i.enggdrawing}}</td>
              <td>{{i.maths}}</td> 
              <button (click)="edit(i)" data-target="#m" data-toggle="modal" class="btn btn-warning">Edit</button>&nbsp;
              <button (click)="delete(i)"class="btn btn-danger">X</button>
            </tr>
            </table>
            <pagination-controls (pageChange)="p=$event"></pagination-controls>
            
    <!-- </div> -->
    <div class="modal fade" id="y">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header"> <h2>Enter marks here</h2>
          <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
          <form #ref="ngForm" (ngSubmit)="addData(ref.value)">
              <div class="form-group">

              <label for="stdname">studentname:</label>
              <input type="text" name="sname" id="stdname" class="form-control" [(ngModel)]=sname>
              <label for="english1">English:</label>
              <input type="text" name="english" id="english1" class="form-control" [(ngModel)]=english>
              <label for="physics1">Physics:</label>
              <input type="text" name="physics" id="physics1" class="form-control" [(ngModel)]=physics>
              <label for="chemistry1">Chemistry:</label>
              <input type="text" name="chemistry" id="chemistry1" class="form-control" [(ngModel)]=chemistry>
              <label for="enggdrawing1">Engg Drawing:</label>
              <input type="text" name="enggdrawing" id="enggdrawing1" class="form-control" [(ngModel)]=enggdrawing>
              <label for="math">Maths:</label>
              <input type="text" name="maths" id="math" class="form-control" [(ngModel)]=maths>
              
              </div>
              <button type="submit" class="btn btn-warning" >Submit</button>
          </form>
        </div>
      </div>
      </div>
    </div>
    <!-- =================================== -->
    <div class="modal fade" id="m">
      <div class="modal-dialog"> 
        <div class="modal-content">
        <div class="modal-header"> <h2>Enter marks here</h2>
          <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
          <form #ref2="ngForm" (ngSubmit)="save()">
              <div class="form-group">
                
                <label for="stdname">studentname:</label>
              <input type="text" name="sname" id="stdname" class="form-control" [(ngModel)]=arr2.sname>
              <label for="english">English:</label>
              <input type="text" name="english" id="english" class="form-control" [(ngModel)]=arr2.english>
              <label for="physics">Physics:</label>
              <input type="text" name="physics" id="physics" class="form-control" [(ngModel)]=arr2.physics>
              <label for="chemistry">Chemistry:</label>
              <input type="text" name="chemistry" id="chemistry" class="form-control" [(ngModel)]=arr2.chemistry>
              <label for="engg drawing">Engg Drawing:</label>
              <input type="text" name="enggdrawing" id="enggdrawing" class="form-control" [(ngModel)]=arr2.enggdrawing>
              <label for="math">Maths:</label>
              <input type="text" name="maths" id="math" class="form-control" [(ngModel)]=arr2.maths>
              </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" >update</button>
          </div>
        </form>
        </div>
      </div>
      </div>
    </div>


  </div>

  