<div class="container mt-3">
    
  <input type="text" name="searchTerm" placeholder="Search.." [(ngModel)]="searchTerm">
  
<button type="button" data-toggle="modal" data-target="#y" class="btn btn-info mx-auto d-block">Add New Notifications</button>
<div class="jumbotron">

  <table class="table table-hover">
      <thead class="thead-dark">
        <th>Notification</th>
        <th>Date</th>
        </thead>
      <tr *ngFor="let i of (arr | search:searchTerm | paginate:{itemsPerPage:4,currentPage:p}); let x=index">
        <td>{{i.notification}}</td>
        <td>{{i.date}}</td>
        <button (click)="send(i)" class="btn btn-success">Send</button>
        <button (click)="edit(i)" data-target="#m" data-toggle="modal" class="btn btn-warning">Edit</button>
         <button (click)="delete(x)"class="btn btn-danger">X</button>
        </tr>
      </table>
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
      

<div class="modal fade" id="y">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">Write here
          <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
            <form #ref="ngForm" (ngSubmit)="addData(ref.value)">
                <div class="form-group">
                    <label for="notes1">Notification:</label>
                    <input type="text" name="notification" id="notes1" class="form-control" [(ngModel)]="notification">
                    <label for="date1">Date:</label>
                    <input type="date" name="date" id="date1" class="form-control" [(ngModel)]="date">
                  </div>
                  <button type="submit" class="btn btn-warning"data-dismiss="modal" >Submit</button>
              </form>
        </div>
    </div>
  </div>
</div>
</div>
<!-- ================================================ -->
<div class="modal fade" id="m">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">Write here
          <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
            <form #ref1="ngForm" (ngSubmit)="save(ref1.value)">
                <div class="form-group">
                    <label for="notes">Notification:</label>
                    <input type="text" name="notification" id="notes" class="form-control" [(ngModel)]=arr2.notification>
                    <label for="date">Date:</label>
                    <input type="date" name="date" id="date" class="form-control" [(ngModel)]=arr2.date>
                  </div>
                  <button type="submit" class="btn btn-warning" data-dismiss="modal">update</button>
              </form>
        </div>
    </div>
  </div>
</div>
</div>

