<div class="container">
  <div class="row mt-5">
    <div class="col-sm-5 mt-5">
      <h1>Vision</h1>
      <p>
          To provide for the advancement of learning and knowledge in Engineering & Technology, Physical and Social Sciences by teaching, research and experimentation or practical training or by such other means as the University may deem fit.
      </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-sm-5 mt-5">
        <h1>Mission</h1>
        <p>
            To provide the form of education that allows students to spend periods of intramural work so that upon graduation not only do they possess a range of academic learning, but also learn and acquire knowledge for the benefit of the state in particular and the country in general.
        </p>
      </div>
    </div>

</div>