<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 bg-secondary text-light mt-4">
      <h2 class="mt-3">Register here</h2>
      <form #ref="ngForm" (ngSubmit)="add(ref.value)">
        <div class="form-group">

                  <label for="firstname">Firstname:</label>
                  <input type="text" name="firstname" class="form-control" id="firstname" [(ngModel)]=firstname #ref1="ngModel" required >
                  <label style="color:rgb(229, 255, 0)" *ngIf="ref1.touched && ref1.errors?.required">---name Should not me empty---</label> <br>
                  <label for="middlename">Middlename:</label>
                  <input type="text" name="middlename" class="form-control" [(ngModel)]=middlename  id="middlename">
                
                    <label for="lastname">Lastname:</label>
                    <input type="text" name="lastname" class="form-control" [(ngModel)]=lastname id="lastname">
                

                    <label for="email">Email address:</label>
                    <input type="email" name="email" class="form-control" id="email" [(ngModel)]=email #ref4="ngModel" required >
                    <label style="color:rgb(229, 255, 0)" *ngIf="ref4.touched && ref4.errors?.required">--- Email is mandatory---</label> <br>

                    <label for="uid">User Id:</label>
          <input type="text" name="userid" class="form-control" id="uid" [(ngModel)]=userid #ref1="ngModel" required >
          <label style="color:rgb(229, 255, 0)" *ngIf="ref1.touched && ref1.errors?.required">---Id should not be empty---</label> <br>

          <label for="pwd">Password:</label>
          <input type="password" name="password" class="form-control" [(ngModel)]=password id="pwd" #ref5="ngModel" pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$" required>
          <label style="color:rgb(229, 255, 0)" *ngIf="ref5.touched && ref5.errors?.pattern">password should contain one uppercase letter, one smallcase letter, and one digit,It will also allow for some special characters. The length should be greater than 8 characters.</label>
          <label for="dob">Date-Of-Birth:</label>
          <input type="date" name="dob" class="form-control" id="dob" [(ngModel)]=dob>

          <div class="form-inline mt-3">
          <label class="mr-3">Gender</label>
          <div class="form-check">
              <label class="form-check-label mr-3">
                <input type="radio" name="gender" class="form-check-input" [(ngModel)]=gender value="male"  >Male
              </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="gender" class="form-check-input" [(ngModel)]=gender value="female"  >Female
                </label>
              </div>
            </div>

              <label class="mt-3">Branch:</label>&nbsp;(not required for admin)
              <div class="form-group" style="width:250px">
              <select class=" form-control" name="branch" [(ngModel)]=branch>
                <option>select branch</option>
                <option>CSE</option>
                <option>ECE</option>
                <option>CIVIL</option>
                <option>MECH</option>
                <option>EEE</option>
                <option>IT</option>
              </select>
             </div>
              <label>Category:</label>
              <div class="form-group" style="width:250px">
              <select class=" form-control" name="category" [(ngModel)]=category>
                <option>register as</option>
              <option>admin</option>
              <option>student</option>
            </select>
              </div>
               <button type="submit"  class="btn btn-success mx-auto d-block">Register</button>
              
            
        </div>
      </form>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
